html,body{
    width: 100%;
    height: 100%;
}
/*顶部通栏*/
.jd_topBar{
    height: 45px;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    background: url("../images/header-bg.png") repeat-x;
    background-size: 1px 44px;
    position: absolute;
}
/*返回*/
.jd_topBar .icon_back{
    width: 40px;
    height: 44px;
    position: absolute;
    left: 0;
    top: 0;
    background-position:-20px 0;
    padding: 12px 10px;
    background-clip: content-box;/*背景图从内容开始显示*/
    background-origin: content-box;/*背景图的定位从内容开始计算*/

}
.jd_topBar form{
    width: 100%;
    height: 44px;
    padding: 0 40px;
}
.jd_topBar form input{
    width: 100%;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
}
.jd_topBar .icon_menu{
    width: 40px;
    height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    background-position:-60px 0;
    padding: 12px 10px;
    background-clip: content-box;/*背景图从内容开始显示*/
    background-origin: content-box;/*背景图的定位从内容开始计算*/
}


/*内容区*/
.jd_gory{
    padding-top:45px;
    width: 100%;
    height: 100%;
}
.jd_gory_left{
    width: 90px;
    height: 100%;
    overflow: hidden;
    float: left;
}
.jd_gory_left_box{

}
.jd_gory_left_box .now{
    border-right: none;
    background-color: #fff;
}
.jd_gory_left_box .now a{
    color: #f15353;
}
.jd_gory_left_box li{
    height: 50px;
    width: 90px;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    text-align: center;
    line-height: 50px;
    background: #f3f4f6;
}
.jd_gory_left_box li a{
    font-size: 12px;
    font-family:"sans-serif";
    display: block;
}
.jd_gory_right{
    overflow: hidden;
    height: 100%;
    padding: 10px 12px;
}
.jd_gory_right .jd_gory_box{
    width: 100%;
}
.jd_gory_right .jd_gory_box .gory_banr{
    width: 100%;
    display: block;
}
.jd_gory_right .jd_gory_box .gory_banr img{
    display: block;
    width: 100%;
    margin-bottom:10px ;
}
.jd_gory_right .jd_gory_box .jd_gory_right_con{

}
.jd_gory_right .jd_gory_box .jd_gory_right_con h3{
    color: #666666;
    font-size: 14px;
    margin-bottom: 10px;
}
.jd_gory_right .jd_gory_box .jd_gory_right_con ul{

}
.jd_gory_right .jd_gory_box .jd_gory_right_con ul li{
    width: 33.33%;
    float: left;
    margin-bottom: 10px;
}
.jd_gory_right .jd_gory_box .jd_gory_right_con ul li a{
    width: 100%;
    display: block;
}
.jd_gory_right .jd_gory_box .jd_gory_right_con ul li a img{
    display: block;
    width: 62px;
    height: 62px;
    margin: 0 auto;
}
.jd_gory_right .jd_gory_box .jd_gory_right_con ul li a p{
    text-align: center;
    font-size: 12px;
    margin: 5px 0;
}